body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#cardPanInput {
  width: 400px;
  border: 0px solid black;
  border-bottom: 2px solid black;
  padding: 15px;
  font-size: 32px;
  text-align: center;
}

input {
  outline: none;
}

.message {
  font-size: 48px;
  text-align: center;
  margin: 30px;
  font-weight: 900;
}

.success {
  color: #3f9727;
}

.error {
  color: #aa1010;
}
